@font-face {
  font-family: mono;
  src: url(../JetBrainsMono-VariableFont_wght.ttf);
}
:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: var(--animation-timing-function);
          animation-timing-function: var(--animation-timing-function);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: var(--animation-duration);
          animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

.animations-disabled,
.animations-disabled [data-animation] {
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 1 !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInleft;
          animation-name: slideInleft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
}

.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}

.flipOutY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  animation-direction: reverse;
}

* {
  box-sizing: border-box;
  line-height: calc(1em + 0.25rem);
}

html {
  background: #000;
  font: 18px/1.5 "Poppins", sans-serif;
  letter-spacing: -0.1em;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: #8599ad;
  font-weight: 200;
}

h1 {
  width: 100%;
  font-weight: 200;
  text-align: center;
  margin: 0 0 4rem;
  font-size: 3rem;
}

b {
  font-weight: 600;
}

header,
section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3rem 1rem;
}

header {
  font-family: mono;
  background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  color: #fff;
}

header h1 {
  margin: 0;
  color: #d3d3d3;
}

header .title {
  color: #00eecf;
  font-size: 5rem;
}

header .subtitle {
  font-size: 2.5rem;
}

section {
  background: #1f1f1f;
}

/* if odd, slightly different version of first color*/
section:nth-child(odd) {
  background: #1f1f1fb6;
}


.box {
  margin: 1rem;
  /*background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  border-radius: 1.5rem;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3) inset, 0 3px 9px rgba(0, 0, 0, 0.3);*/
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #00eecf;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-thumb {
  background: #ddd; 
}

body::-webkit-scrollbar-track {
  background: #666; 
}


.linkedin a{
  text-decoration: none;
  color: #fff;
  background-color: #0077b5;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius:25%;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.linkedin a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}

.insta a{
  text-decoration: none;
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.insta a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}

.github a {
  text-decoration: none;
  color: #fff;
  background-color:#000;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.github a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}


#btn-download {
  cursor: pointer;
  display: block;
  width: 64px; /* Adjusted width */
  height: 64px; /* Adjusted height */
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

#btn-download:hover {
  background: rgba(34, 50, 84, 0.03);
}

#btn-download svg {
  margin: 20px 0 0 20px; /* Adjusted margin */
  fill: none;
  transform: translate3d(0, 0, 0);
}

#btn-download svg polyline,
#btn-download svg path {
  stroke: #0077FF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

#btn-download svg path#check {
  stroke-dasharray: 38;
  stroke-dashoffset: 114;
  transition: all 0.4s ease;
}

#btn-download.downloaded svg .svg-out {
  opacity: 0;
  animation: drop 0.3s linear;
  transition-delay: 0.4s;
}

#btn-download.downloaded svg path#check {
  stroke: #20CCA5;
  stroke-dashoffset: 174;
  transition-delay: 0.4s;
}

@keyframes drop {
  20% {
    transform: translate(0, -3px);
  }
  80% {
    transform: translate(0, 2px);
  }
  95% {
    transform: translate(0, 0);
  }
}

.shareArticle {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.shareSocial {
  display: flex;
  flex-flow: row;
  align-items: center;
}
@media (max-width: 767px) {
  .shareSocial {
    flex-flow: column;
  }
}
.shareSocial .socialTitle {
  margin: 0 15px 0 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .shareSocial .socialTitle {
    margin-bottom: 15px;
    text-align: center;
  }
}
.shareSocial .socialList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}
.shareSocial .socialList li {
  margin: 5px;
}
.shareSocial .socialList li:first-child {
  padding-left: 0;
}
.shareSocial .socialList li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-decoration: none;
  background-color: #999;
  color: #fff;
  transition: 0.35s;
}
.shareSocial .socialList li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: scale(1) translate(-50%, -50%);
  transition: 0.35s;
}
.shareSocial .socialList li a:hover i {
  transform: scale(1.5) translate(-50%, -50%);
}
.shareSocial .socialList li:nth-child(1) a {
  background-color: #135cb6;
}
.shareSocial .socialList li:nth-child(2) a {
  background-color: #111111;
}
.shareSocial .socialList li:nth-child(3) a {
  background-color: #BD081C;
}
.shareSocial .socialList li:nth-child(4) a {
  background-color: #00aced;
}
.shareSocial .socialList li:nth-child(5) a {
  background-color: #1FB381;
}

.shareLink .permalink {
  position: relative;
  border-radius: 30px;
}
.shareLink .permalink .textLink {
  text-align: center;
  padding: 12px 60px 12px 30px;
  height: 45px;
  width: 450px;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #494949;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .shareLink .permalink .textLink {
    width: 100%;
  }
}
.shareLink .permalink .textLink:focus {
  border-color: #d8d8d8;
}
.shareLink .permalink .textLink::-moz-selection {
  color: #fff;
  background-color: #ff0a4b;
}
.shareLink .permalink .textLink::selection {
  color: #fff;
  background-color: #ff0a4b;
}
.shareLink .permalink .copyLink {
  position: absolute;
  top: 50%;
  right: 25px;
  cursor: pointer;
  transform: translateY(-50%);
}
.shareLink .permalink .copyLink:hover:after {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}
.shareLink .permalink .copyLink:after {
  content: attr(tooltip);
  width: 140px;
  bottom: -40px;
  left: 50%;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-10px) translateX(-50%);
  transition: all 300ms ease;
  text-align: center;
}
.shareLink .permalink .copyLink i {
  font-size: 20px;
  color: #ff0a4b;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }


  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .fourth {
    border-color: #fe6a6b;
    color: #fff;
    background-image: linear-gradient(45deg, #fe6a6b 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  