@font-face {
  font-family: mono;
  src: url(../JetBrainsMono-VariableFont_wght.ttf);
}
:root {
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 1s;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.5deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: var(--animation-timing-function);
          animation-timing-function: var(--animation-timing-function);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: var(--animation-duration);
          animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

.animations-disabled,
.animations-disabled [data-animation] {
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 1 !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInleft;
          animation-name: slideInleft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
}

.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}

.flipOutY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  animation-direction: reverse;
}

* {
  box-sizing: border-box;
  line-height: calc(1em + 0.25rem);
}

html {
  background: #000;
  font: 18px/1.5 "Poppins", sans-serif;
  letter-spacing: -0.1em;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  color: #8599ad;
  font-weight: 200;
}

h1 {
  width: 100%;
  font-weight: 200;
  text-align: center;
  margin: 0 0 4rem;
  font-size: 3rem;
}

b {
  font-weight: 600;
}

header,
section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3rem 1rem;
}

header {
  font-family: mono;
  background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  color: #fff;
}

header h1 {
  margin: 0;
  color: #d3d3d3;
}

header .title {
  color: #00eecf;
  font-size: 5rem;
}

header .subtitle {
  font-size: 2.5rem;
}

section {
  background: #1f1f1f;
}

/* if odd, slightly different version of first color*/
section:nth-child(odd) {
  background: #1f1f1fb6;
}


.box {
  margin: 1rem;
  /*background: radial-gradient(circle at top right, #e61a5e, #5e1ae6);
  border-radius: 1.5rem;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3) inset, 0 3px 9px rgba(0, 0, 0, 0.3);*/
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #00eecf;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-thumb {
  background: #ddd; 
}

body::-webkit-scrollbar-track {
  background: #666; 
}


.linkedin a{
  text-decoration: none;
  color: #fff;
  background-color: #0077b5;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius:25%;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.linkedin a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}

.insta a{
  text-decoration: none;
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius:25%;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.insta a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}

.github a {
  text-decoration: none;
  color: #fff;
  background-color:#000;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius:25%;
  font-size: 2.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;
}
.github a:hover{
  box-shadow: 0 0 30px #1f1f1fb6;
}

